<!-- interpolation -->

<!-- <h1>{{CityName}}</h1>

 <h2>{{FullName}}</h2>

 <h3>{{Age}}</h3>
 
 <h1>{{7*5*8-9+5}}</h1> -->
<!-- property binding -->
 <!-- <input type="text" [disabled]="isdisabled" value="name">

 <input type="text" [disabled]="check" value="firstname"> -->
 <!-- <input type="text" {{disabled}}="isdisabled" value="Name">  cant use with interpolation boolean type value-->
 <!-- <img src="/MyProject/Car1.jpg" alt="car"> -->
 <!-- Event binding -->
 <!-- <img [src]="path" alt="car">
 <button (click)="onMyClick()">Submit</button>
<br>
 <button class="btn btn-success" style="margin-left: 1000px;">Click</button> -->

 <!-- <app-home></app-home> -->
 <!-- <app-attribute-demo></app-attribute-demo> -->
 <!-- <app-pipe-demo></app-pipe-demo> -->
 <!-- <app-directive-demo></app-directive-demo> -->
 <!-- <app-form-demo></app-form-demo> -->
 <!-- <app-parent></app-parent> -->
 <!-- <app-employee-info></app-employee-info> -->
 <!-- <app-my-http-user></app-my-http-user> -->
 <!-- <app-employee-info></app-employee-info>-->
 <!-- <ul>
    <li><a [routerLink]="['/Home']">Home</a></li>
    <li><a [routerLink]="['/Login']">Login</a></li>
    <li><a [routerLink]="['/Employee']">Employee</a></li>
    <li><a [routerLink]="['/Data']">Data</a></li>

 </ul>
 <router-outlet></router-outlet>  -->
 <!-- <app-switch-demo></app-switch-demo> -->
 <!-- <app-add-course></app-add-course> -->
 <!-- <app-crud-demo></app-crud-demo> -->
 <!-- <app-crud-demo2></app-crud-demo2> -->
 <!-- <app-my-http-use-comp></app-my-http-use-comp> -->
 <app-login></app-login>
 <app-form-task></app-form-task>
  